/* NAVBAR CONTAINER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #0f172a;
  color: white;
}

/* LOGO */
.logo h2 {
  margin: 0;
  font-weight: bold;
}

/* NAV LINKS CONTAINER */
.nav-links {
  list-style: none;
  display: flex;          /* ⭐ THIS MAKES IT HORIZONTAL */
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* LINKS */
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.25s ease;
}

.nav-links a:hover {
  color: #38bdf8;
}
